@import 'base';

.date-phrase {
    display: flex;
    flex-direction: column;
    gap:.5rem;
    text-align: center;

}

.date-update {
    background-image: url(../assets/img/reload.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizePlayPausePrevNext;
    height: $sizePlayPausePrevNext;
    transition: .4s;
    cursor: pointer;
}
.date-update:active {
    transform: scale(0.8);
}