$fontSizeTime: 6rem;
$fontSizeDate: 1.5rem;
$fontSizeCreeting: 2rem;

$sizePlayPausePrevNext: 2rem;

$sizeArrows:2rem;
$paddingWithBorder:1rem;




body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6rem;
  align-items: center;
  // background-image: url(https://github.com/rolling-scopes-school/stage1-tasks/blob/assets/images/afternoon/02.jpg?raw=true);
  background-size: cover;
  color: white;
  background-color: #0000007a;
  background-blend-mode: multiply;
  transition:  background 2s ease-in-out;

}
